* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: url("img/Kratos.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
}

/* HEADER Y MENÚ */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav {
    max-width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 8px 18px;
    border-radius: 25px;
    border: 1px solid rgba(245, 53, 0, 0.4);
    transition: 0.2s;
    font-size: 15px;
    background: rgba(173, 11, 11, 0.45);
}

nav a:hover {
    border-color: #f55200;
    background: rgb(194, 17, 17);
}

nav a.activo {
    background: #ffffffa9;
    color: #111;
    font-weight: bold;
}

/* CONTENEDOR GENERAL */
.main-container {
    width: 90%;
    max-width: 1300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.78);
    border-radius: 200px;
    border: 3px solid #ff0000;
    box-shadow: 0 0 40px rgba(73, 43, 17, 0.8);
    backdrop-filter: blur(3px);
    margin: 140px auto 40px;
}

/* TÍTULOS GENERALES */
h1 {
    text-align: center;
    font-size: 55px;
    color: #ffe733;
    letter-spacing: 10px;
    margin-bottom: 20px;
    text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 25px #ff0400;
}

.subtitulo {
    text-align: center;
    font-size: 28px;
    color: #c02b2b;
    letter-spacing: 8px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px black;
}

/* CONTENIDO DE HISTORIA */
.contenido-historia {
    max-width: 1000px;
    margin: 0 auto;
}

/* BLOQUES TEXTO + IMAGEN */
.punto-historia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: 35px 0;
}

.punto-historia .texto {
    width: 60%;
}

.punto-historia .texto h2 {
    color: #ffd45e;
    font-size: 26px;
    margin-bottom: 10px;
    text-shadow: 0 0 8px #000;
}

.punto-historia .texto p {
    font-size: 18px;
    line-height: 1.9;
    text-align: justify;
}

.punto-historia .imagen {
    width: 35%;
}

.punto-historia .imagen img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(0,0,0,0.7);   /* sin borde rojo, solo sombra */
}

/* REFERENCIAS */
.referencias {
    max-width: 1000px;
    margin: 30px auto 0 auto;
}

.referencias h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #ffe18a;
}

.referencias ol {
    margin-left: 25px;
    line-height: 1.7;
    font-size: 15px;
}

/* BOTÓN SIGUIENTE */
.btn-siguiente {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 35px;
    border-radius: 30px;
    border: 2px solid #f5c000;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    float: right;
    transition: 0.25s;
}

.btn-siguiente:hover {
    background: #f50000a9;
    color: #ffffff;
    box-shadow: 0 0 20px #ea0000ac;
    transform: translateY(-2px);
}
.btn-regresar {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 35px;
    border-radius: 30px;
    border: 2px solid #f5c000;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    float: left;                 /* se va al extremo izquierdo */
    transition: 0.25s;
}

.btn-regresar:hover {
    background: #f50000a9;
    color: #ffffff;
    box-shadow: 0 0 20px #ea0000ac;
    transform: translateY(-2px);
}

/* ====== VIDEO DE LA BATALLA FINAL ====== */

.video-final {
    margin-top: 60px;
    text-align: center;
}

.video-final h2 {
    color: #ffd45e;
    font-size: 32px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px #000;
}

.video-container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto 20px auto;
}

.video-container video {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.9);
}

.descripcion-video {
    color: #e6e6e6;
    max-width: 900px;
    margin: 15px auto;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}


.video-container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 0 20px red;
}

.video-container iframe {
    width: 100%;
    height: 500px;
    border: none;
}
